beautifulsoup4==4.12.3
geckodriver_autoinstaller==0.1.0
google_api_python_client==2.84.0
google_auth_oauthlib==1.2.0
imutils==0.5.4
matplotlib==3.7.1
numpy==1.25.2
opencv_contrib_python
opencv_python
opencv_python_headless
pandas==2.0.3
Pillow
protobuf==3.20.3
pytesseract==0.3.10
Requests==2.31.0
roboflow==1.1.27
scikit_learn==1.2.2
selenium==4.20.0
tqdm==4.66.2
ultralytics==8.2.2
